{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<section id="navbackground">
    <div class="container">
        <section class="row">
            <div class="col-12 col-md-6 mx-auto text-center">
                <h1 class="text-light">Welcome <span class="text-white">{{request.user.username}}</span>
                </h1>
                <h3 class="text-warning">Set And Update Logistic Problem Status.
                </h3>
            </div>
        </section>
    </div>
</section>
<section id="dashboard">

    {% csrf_token %}
    <div class="container py-5">
        <div class="row ">
            <div class="col-12 col-md-4 mx-auto p-3">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %} {{form|crispy}}
                    <div>
                        <button type="submit" class=" btn btn-primary col-12">
                            SUBMIT
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}