<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <link rel="stylesheet" href="{% static 'shipment/css/bootstrap.min.css' %}" />
</head>

<body>
    <section id="receipt">
        <div class="container">
            <article class="row ">
                <div class="col-8">
                    <h3>
                        WORLD EXPRESS COURIER SERVICES.
                    </h3>
                </div>
                <div class="col-4">
                    <div>
                        <p>Invoice: <small><b>....</b></small></p>
                        <img src="{% static 'shipment/images/barcode.jpg' %}" alt="" class="img-fluid h-50" style="height: 40px !important; width: 70%;">
                    </div>
                </div>
            </article>
            <article class="row pt-5">
                <div class="col-12 col-md-6">
                    <caption>
                        <h2 class="h5">FROM SENDER</h2>
                    </caption>
                    <table class=" table p-2 table-borderless">
                        <tr>
                            <td>
                                <h6>Sender Name:</h6>
                            </td>
                            <td class="text-muted">
                                {{item.item_sender.fullname}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>Sender Address</h6>
                            </td>
                            <td>
                                <span class="text-muted">{{item.item_sender.address}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>Email:</h6>
                            </td>
                            <td>
                                <span class="text-muted">
                                    {{item.item_sender.email}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>Country:</h6>
                            </td>
                            <td>
                                <span class="text-muted">
                                    {{item.item_sender.country.name}}
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-12 col-md-6">
                    <table class="table table-borderless">
                        <h2 class="h5">SHIPMENT DETAILS</h2>
                        <tr>
                            <td>
                                <h6>Package Name</h6>
                            </td>
                            <td>
                                <span class="text-muted">
                                    {{item.item_name}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b class="pe-3">QTY:</b>
                            </td>
                            <td>
                                {{item.quantity}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>Charges:</h6>
                            </td>
                            <td class="text-muted">
                                {% if item.paid %} Paid {% else %} Pending {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>Description:</h6>
                            </td>
                            <td class="text-muted">
                                {{item.description}}
                            </td>
                        </tr>
                    </table>
                </div>
            </article>
            <article class="row">
                <div class="col-12 col-md-6">
                    <table class="table table-borderless">
                        <h2 class="h5">TO RECEIVER</h2>
                        <tr>
                            <td>
                                <h6>Receivers Name</h6>
                            </td>
                            <td>
                                <span class="text-muted">
                                    {{item.item_receiver.fullname}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b class="pe-3">Address:</b>
                            </td>
                            <td>
                                {{item.item_receiver.address}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>Country:</h6>
                            </td>
                            <td class="text-muted">
                                {{item.item_receiver.country.name}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>Details:</h6>
                            </td>
                            <td class="text-muted">
                                {{item.item_receiver.email}} {{item.item_receiver.phoneNo}}
                                <br> <b>postal Code:</b> {{item.item_receiver.postal_code}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-12 col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ready For</th>
                                <th>Departure Date</th>
                                <th>Expected Arrival Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Shipment</td>
                                <td>{{item.date_sent|date:"l, d M, Y"}}</td>
                                <td>{{item.date_shipped|date:"l, d M, Y"}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="position:relative">
                                        <img src="{% static '/shipment/images/logo1.png' %}" class="img-fluid" alt="" style="height: 80px !important; width: 70%;">
                                        <br><br>
                                        <span class="border-top text-center"><b>Sign....</b></span>
                                        <img src="{% static '/shipment/images/signwrld.png' %}" class="img-fluid" alt="" style="height: 170px !important; width: 100%; position: absolute; bottom: -70px; left: 50px; transform: rotateY(90px);">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
            <artile class="row">
                <div class="col-12 col-md-6 mx-auto">
                    <button class="btn btn-primary" onclick="window.print()">
                        PRINT RECEIPT
                    </button>
                </div>
            </artile>
        </div>
    </section>

</body>

</html>